langchain
pypdf
sentence-transformers
chromadb
llama-cpp-python
cryptography
faiss-gpu
huggingface_hub
torch>=2.0.1
accelerate
appdirs
loralib
bitsandbytes
black
datasets
fire
peft
transformers>=4.34.1
sentencepiece
py7zr
scipy
optimum
matplotlib

